*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/app/src/main/java/com/example/today_i_dressedup/util/Secret.kt
.DS_Store
/build
/captures
.externalNativeBuild
